<%= render 'shared/navbars/profile_logo' %>

<div class="wrapper">
  <div class="container-fluid text-center">
    <div class="row">
    <h2>No products yet</h2>
     <div class="add-product">
        <div class="add-product-image">
          <i class="fa fa-exchange arrows-big" aria-hidden="true"></i>
        </div>
        <div class="add-product-content">
          <div class="add-product-description">
            <p>Discover what cool goods you can achieve with your item. To start trading, upload a product.</p>
          </div>
          <div class="add-product-card-extra">
            <%= link_to "Add a product", new_account_product_path, class: 'btn btn-primary button-center' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


