<%= render 'shared/navbars/profile_logo' %>
<div class="wrapper grey-background">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
        <div class="add-product">
          <h3>Create Product</h3>
          <p>Hello, gogogo let's add your product</p>

          <%= render 'form', product: @product %>
        </div>
      </div>
    </div>
  </div>
</div>
