<%= render 'shared/navbars/arrow' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Create Product</h1>
      <p>Hello, gogogo create your first product</p>

     <%= render 'form', product: @product %>
    </div>
  </div>
</div>
