<%= render 'shared/navbars/arrow' %>

<h1>Account::Products#show</h1>
<p>Find me in app/views/account/products/show.html.erb</p>

<% @product.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
