/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 .home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.company-name {
  padding-top: 75px;
  padding-bottom: 5px;
  text-align: center;
  color: $dark-gray;
}

.home-title-margin {
  margin-top: 15px;
}

.logo{
  font-family: $logo-font;
  color: $brand-color;
  font-size: 80px;
  text-align: center;
  margin-top: 10px;
}

.logo-small {
  font-family: $logo-font;
  font-size: 25px;
  color: $brand-color;
  margin-top: 13px;
}

.logo-small:hover {
  text-decoration: none;
  color: $brand-color;
}

.logging {
  margin: 20px 32px 0px 0px;
  font-size:10px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.facebook {
  margin-bottom: 30px;
}

.white-space{
height: 50px;
width:375px;
}
