/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 .home-page{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
}

.company-name {
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
}

.home-title-margin {
  margin-top: 30px;
}

.logo{
  font-family:$logo-font;
  color:$green;
  font-size: 160px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -30px;
}

.logo-small {
  font-family: $logo-font;
  font-size: 34px;
  color: $green;
}
.logo-small:hover {
  text-decoration: none;
  color: $green;
}

p.logging{
  margin: 20px 32px 0px 0px;
  font-size:10px;
  margin-left: 30px;
  margin-bottom: 10px;
  font-family:$base-font;
}

h2.company-name{
  padding-top: 10px;
  padding-bottom:10px;
}

html, body {
  height: 100%;
}

.facebook{
margin-bottom: 30px;
}

