.card-product {
  display: block;
  margin-left-left: 4px;
  margin-left-right: 4px;
  margin-top: 10px;
  border:0px solid;
  position:relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  max-width: 350px;
  height:450px;
  overflow: hidden;
}

.product-image{
  margin-top: 5px;
  padding: 5px;
}

.value{
  position:absolute;
  right: 3px;
  bottom: 8px;
  background-color: white;
  border-radius: 50px;
  padding: 5px;
  border: transparent;
}

.value-product{
  height:34px;
  width: 34px;
}

.value:focus {
 outline: transparent;
 border:transparent;
}

.caption{
  position:absolute;
  text-align:left;
  left:10px;
  bottom: 15px;
}

.caption-name{
  font-size:20px;
  color:$dark-gray;

}

.show-page {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  margin-top: 10px;
}


.align-smiley {
  margin-bottom: 20px;
  padding-right: 45px
}

.carousel-container{
  width: 350px;
  height:553px;
  margin: 0 auto;
  margin-top:10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 5px;
  margin-bottom:80px;
}

.card-show-description{
  position:relative;
  margin-top: 10px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: 100%;
  line-height: 1;
}

#go-back{
  position:absolute;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 30px;
  opacity: 0.7;
  color: $green;
  cursor: pointer;
  z-index:500;
}

#go-back:hover{
  opacity:1;
  font-size:30px
}

.carousel-control{
  color:$green;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  widows: 15%;
  font-size: 20px;
  text-align: center;
}

.carousel-control.right {
  left: auto;
  right: 0;
  background-repeat: repeat-x;
}

.carousel-control.left {
  right: auto;
  left: 0;
  background-repeat: repeat-x;
}

.carousel-control:hover{
  color:$green;
  opacity: 1;
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: $green;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: transparent;
}

.carousel-control.left, .carousel-control.right{
  background-image: none;
}


.wrapper-product{
  position:relative;
}

.product-container{
 width: 350px;
 height: 250px;
 margin: 0 auto;
 top: -60px;
 left: 0px;
}

.product-name {
  color: $dark-gray;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.product-distance{
  position: absolute;
  left: 15px;
  top: 35px;
  color: gray;
  font-size: 12px;
}

.product-show-description{
  margin-left: 15px;
  margin-bottom:40px;
  margin-top: 25px;
}

.separation{
 border-bottom: 0.5px solid rgba(0, 0, 0, 0.09) !important;
 width: 280px;
 margin: auto;
 margin-bottom: -3px;
}
.extra-info{
  position:absolute;
  width:270px;
}

.user-photo{
 position: absolute;
 margin-left: 10px;
 margin-bottom: 10px;
 margin-top: 10px;
}

.user-extra-info{
 position: absolute;
 left: 35px;
 top: 5px;
 font-weight: bold;
 color: #4B4E59;
 font-size: 14px;
 width:100%;
}

.friends_count{
  position: absolute;
  left: 68px;
  top: 30px;
  color: #A9A9A9;
  font-weight: 400;
  font-size: 12px;
}

.successfull_trade{
  position: absolute;
  left: 135px;
  top: 30px;
  color: #A9A9A9;
  font-weight: 400;
  font-size: 12px;
}

.glyphicon-chevron-left:before {
  content: "\e079";
  color: $green;
}

.glyphicon-chevron-right:before {
  color: $green;
}

.popover-content {
  padding: 9px 14px;
  font-size: 10px;
  background-color: $green;
  color: white;
}



