.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 22px;
  border:0px solid;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.show-page {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  margin-top:10px;
}

.display-flexible {
  display: flex;
  justify-items: center;
  justify-content: space-around;
}

.align-smiley {
  margin-bottom: 20px;
  padding-right: 45px
}

.carousel-container{
  width: 350px;
  height:350px;
  margin: 0 auto;
  margin-top:10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.carousel-control{
  color:$green;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  widows: 15%;
  font-size: 20px;
  text-align: center;
}

.carousel-control.right {
  left: auto;
  right: 0;
  background-repeat: repeat-x;
}

.carousel-control.left {
  right: auto;
  left: 0;
  background-repeat: repeat-x;
}

.carousel-control:hover{
  color:$green;
  opacity: 1;
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: $green;
  margin-bottom: -30px;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: transparent;
}

.carousel-control.left, .carousel-control.right{
  background-image: none;
}

.product-container{
  width: 375px;
  margin: 0 auto;
  position:absolute;
}

.product-name {
  color: $dark-gray;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: -30px;
  position:relative;
}

.product-description{
  margin-bottom: 40px;
  position:relative;
}

.extra-info{
  position: absolute;
  margin-top: 10px;
}

.user-photo{
  position:relative;
  left: 10px;
  bottom: 10px;
}

.user-extra-info{
  position:relative;
  left: 85px;
  bottom: 42px;
  font-weight: bold;
  color: $dark-gray;
}

.friends_count{
  position:relative;
  left:166px;
  bottom: 83px;
  color:$gray;
}

.fa-user:before {
  content: "\f007";
  padding-right: 11px;
}

.successfull_trade{
  position:relative;
  left:166px;
  bottom: 75px;
  color:$gray;
}

// .fa-check-square-o:before {
//   content: "\f046";
//   margin-right: 10px;
// }

#go-back{
  position:relative;
  right: 150px;
  bottom: 250px;
  z-index: 500;
  font-size: 40px;
  opacity: 0.7;
  color: $green;
  cursor: pointer;
}

#go-back:hover{
  opacity:1;
  font-size:41px
}

.smiley_options {
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  margin-top: 40px;
  display: flex;
  width: 60px;
  justify-content: space-around;
}

.smiley_options_po {
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  margin-top: 40px;
  display: flex;
  width: 60px;
  justify-content: space-around;
}

.smiley_options_po:focus {
outline:transparent;
}

.smiley_options:focus {
outline:transparent;
}


.btn:active:focus{
outline:transparent;
}

// .product_image{
//   border-bottom: 2px solid $gray;
// }

.fa-exchange{
  font-size:30px;
}

.fa-times{
  font-size:30px;
}

.caption{
  display: flex;
  justify-content: space-around;
  margin-top:-15px;
}

#cross-button{
  padding-left: 50px;
  padding-right: 50px;
  margin-top:-20px;
}
#check-button{
  padding-left: 50px;
  padding-right: 50px;
  margin-top:-20px;

}

.value{
  font-size:15px;
}

.glyphicon-chevron-left:before {
  content: "\e079";
  color: $green;
}

.glyphicon-chevron-right:before {
  color: $green;
}

.popover-content {
  padding: 9px 14px;
  font-size: 10px;
  background-color: $green;
  color: white;
}

.value {
  border-color: transparent;
  background-color: transparent;
}

.value:focus {
 outline: transparent;
 background-color: transparent;
}

