.show-page {
display: flex;
align-items: center;
justify-content:center;
flex-direction:column;
}

.carrousel-container{
  width: 300px;
  margin: 0 auto;

}

.product-container{
display: flex;
align-items: center;
justify-content:center;
flex-direction:column;
}
