<%= link_to account_match_path(match) do %>
  <div class="matches">
    <%= cl_image_tag other_product.photos.first.path, class:"matches-image-circle" %>
    <div class='matches-body'>
      <h5 class="match-info-margin"><%= other_product.name %></h5>
      <div class="inline-block">
        <i class="fa fa-exchange" aria-hidden="true"></i>
        <p class="match-info-styling">My <%= product.name %></p>
      </div>
    </div>
  </div>
<% end %>
