<h1>Account::Matches#show</h1>
<p>Find me in app/views/account/matches/show.html.erb</p>



<div class="matches-container">
  <img src="/images/rubber_duck.jpg" alt="Rubber Duck" class="avatar-large">
  <h4 class="text-center">Name of the product</h4>

</div>

