<h3 class="text-center">Exchange your goods</h3>
<div class="home-page">
<%=image_tag 'logo.jpeg', class:"logo" %>
<h2>BARTUUR</h2>
<%=link_to "test", user_facebook_omniauth_authorize_path, class: "btn btn-facebook"%>
</div>



