// Your footer style

#footer {
  position: fixed;
  height: 70px;
  width:350px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 0.8;
  flex-direction:column;
}

.icon-footer {
  font-size: 30px;
}

a{
text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.smiley-footer {
 height: 60px;
 margin: 0 auto;
 border-radius: 50px;
 margin-top: 0px;
 width: 60px;
}

.fa-times{
  color:white;
}
.fa-exchange{
  color:white;
}

.smiley-footer.red{
  background-color:$red;
}

.smiley-footer.green{
  background-color:$green;
}
