// Your footer style

#footer {
  position: fixed;
  height: 60px;
  width:375px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

.icon-footer {
  font-size: 30px;
}

.smiley-footer {
 height: 60px;
 margin: 0 auto;
 border-radius: 50px;
 margin-top: 40px;
 width: 60px;
}

.fa-times{
  color:white;
}
.fa-exchange{
  color:white;
}

.smiley-footer.red{
  background-color:$red;
  border-color: transparent;
  opacity:0.8;
}

.smiley-footer.red:hover:focus{
  opacity:1;
  outline:transparent;
}

.smiley-footer.red:hover{
  opacity:1;
  outline:transparent;
}


.smiley-footer.green{
  background-color:$green;
  border-color:transparent;
  opacity:0.8;
}

.smiley-footer.green:focus:hover{
  outline:transparent;
  opacity: 1;
}

.smiley-footer.green:hover{
  outline:transparent;
  opacity: 1;
}

