
<div class="navbar-wagon">
  <!-- icon on the left side -->
  <%= link_to root_path, class: "navbar-wagon-gray" do %>
  <i class="fa fa-arrow-left icon-big"></i>
  <% end %>

  <i class="fa fa-comments icon-big center-fa icon-green" aria-hidden="true"></i>

  <div></div>
</div>
