
<div class="navbar-wagon">
  <!-- icon on the left side -->
  <%= link_to "#", class: "logo" do %>
    <h2>üü</h2>
    <% end %>

    <i class="fa fa-comment fa-2x center-fa" aria-hidden="true"></i>

  <div></div>
</div>
