
<div class="navbar-wagon">

  <%= link_to account_profile_path, class: "navbar-wagon-gray" do %>
    <i class="fa fa-user icon-big" aria-hidden="true"></i>
    <% end %>

  <h2 class="logo-small">üü</h2>

  <div></div>

</div>
