
<div class="navbar-wagon">

  <%= link_to account_profile_path, class: "navbar-wagon-gray" do %>
  <i class="fa fa-user icon-big" aria-hidden="true"></i>
  <% end %>

  <div></div>

  <%= link_to root_path, class: "navbar-wagon-gray" do %>
  <i class="fa fa-exchange icon-big" aria-hidden="true"></i>
  <% end %>

</div>
