
<!-- arrow left icon -->
<i class="fa fa-arrow-left" aria-hidden="true"></i>

<div class="navbar-wagon">
  <!-- icon on the left side -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right">



</div>
