
<div class="navbar-wagon">
  <!-- icon on the left side -->
  <%= link_to "#", class: "navbar-wagon-gray" do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>

  <div>
    <ul class="list-inline">
      <li>
        <div class="avatar">
          <img src="#">
        </div>
      </li>
      <li>
        <h3>Sophie</h3>
      </li>
    </ul>
  </div>

  <div class="navbar-wagon-right">
    <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
    <div class="avatar-square">
      <img src="#">
    </div>
    <% end %>

  </div>
</div>
