
<div class="navbar-wagon">
  <!-- icon on the left side -->
  <%= link_to "#", class: "navbar-wagon-gray" do %>
    <i class="fa fa-th-large"></i>
    <% end %>

  <div class>
    <i class="fa fa-comment icon-big" aria-hidden="true"></i>
  </div>

  <div></div>
</div>
