
<div class="navbar-wagon">
  <!-- icon on the left side -->
  <%= link_to "#", class: "logo" do %>
    <h2>üü</h2>
    <% end %>

  <div class>
    <i class="fa fa-comment icon-big" aria-hidden="true"></i>
  </div>

  <div></div>
</div>
