<div class="navbar-wagon">
  <!-- icon on the left side -->
  <%= link_to "#", class: "navbar-wagon-gray" do %>
    <i class="fa fa-bars"></i>
    <% end %>

    <h2 class="logo-small">üü</h2>

  <div class="navbar-wagon-right">
    <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
    <div class="badge-container">
      <i class="fa fa-comment"></i>
      <div class="badge badge-green">3</div>
    </div>
    <% end %>

  </div>
</div>
