
<!-- menu icon -->
<i class="fa fa-bars" aria-hidden="true"></i>

<!-- chat icon -->
<i class="fa fa-comment" aria-hidden="true"></i>


<div class="navbar-wagon">
  <!-- icon on the left side -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>






</div>
