<%= render 'shared/navbars/profile_logo_chat' %>

<!-- <div id="container">
<div class="button-wrapper">
  <button class="button-pulse">
  <h1 class="font-family"><span style="color:#A9A9A9;"> Bart<span style="color:#50C878;">端端</span>r</span></h1>
  </button>
  </div>
</div>
 -->


 <div class='pulse-wrapper'>
   <span class='pulse-button'> <h1 class="font-family"><span> Bart<span style="color:#50C878;">端端</span>r</span></h1></span>
 </div>
