/* Add product styling */

.arrows-big {
  font-size: 105px;
  padding: 20px 0px 38px 0px;
  color: $gray;
}

.center-add-product {
  float: none;
  margin: 0 auto;
}

.products-index {
  margin: 25px;
}

/*
.container-fluid h2 {
  padding: 70px 0px 0px 0px;
}

.add-product-description {
  margin: 0px 25px 45px 25px;
}
*/
