/* Add product styling */

.arrows-big {
  font-size: 105px;
  padding: 20px 0px 38px 0px;
  color: $gray;
}

.center-add-product {
  float: none;
  margin: 0 auto;
}

.products-index {
  margin: 25px;
}

.no-products-title-padded {
  padding: 31px 0px 0px 0px;
}

.add-product {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
-webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
margin-bottom: 20px;
background-color: white;
border-radius: 4px;
padding: 20px;
margin-top: 45px;
}

.add-product-description {
padding-bottom: 20px;
}

/*
.container-fluid h2 {
  padding: 70px 0px 0px 0px;
}

.add-product-description-no-product {
  margin: 0px 32px 45px 32px;
}
*/
