/* Add product styling */

.arrows-big {
  font-size: 105px;
  padding: 20px 0px 38px 0px;
  color: $gray;
}

.center-add-product {
  float: none;
  margin: 0 auto;
}

.products-index {
  margin: 25px;
}

.container-no-product h2 {
  padding: 31px 0px 0px 0px;
}

.add-product-description-no-product {
  margin: 0px 32px 45px 32px;
}
