
.container-match-since {
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 0px 0px 0px;
}

.container-match-since > hr {
  width: 135px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container-chat {
  background-color: white;
  margin: 0 auto;
  max-width: 600px;
  padding: 8px 10px 0px 10px;
}

.container-chat p {
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background-color: $dark-gray;
  max-width: 75%;
  clear: both;
  position: relative;

  &.them {
    float: left;
    color: black;
    background-color: $light-gray;
  }

  &.me {
    float: right;
    background-color: $green;
    color: white;
  }
}

#footer-chat {
  position: fixed;
  bottom: 0px;
  width: 100%;
  max-width: 600px;
  padding: 0px 10px 5px 10px;
  background-color: white;
}
