
.container-chat {
  background-color: white;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 10px 0px 10px;
}

.container-chat p {
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background-color: $dark-gray;
  max-width: 75%;
  clear: both;
  position: relative;

  &.them {
    float: left;
    color: black;
    background-color: $light-gray;
  }

  &.me {
    float: right;
    background-color: $green;
    color: white;
  }
}
