
.matches-container {
  width: 425px;
  margin: 0 auto;
}
.matches {
  display: flex;
  align-items: center;
  border-radius: 3px;
  transition: all 0.15s ease;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* Body design */
.matches-body {
  flex: 1 1 auto;
}
.matches-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.matches-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}
/* Product image */
.matches-image-circle {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-right: 20px;
}
