
.matches-container {
  width: 300px;
  margin: 0 auto;
      padding-top: 45px;
}

.matches {
  display: flex;
  align-items: center;
  border-radius: 3px;
  transition: all 0.15s ease;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Body design */
.matches-body {
  flex: 1 1 auto;
}

.match-info-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.match-info-styling {
  font-weight: lighter;
  font-size: 13px;
  padding-top: 12px;
  margin-bottom: 0;
}

/* Product image */
.matches-image-circle {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-right: 20px;
}

/* Additional info */
.inline-block {
  padding-top: 6px;
}

.inline-block > * {
  display: inline-block;
}

.inline-block i {
  font-size: 19px;
  color: $gray;
  padding: 0px 10px 10px 45px;
}

.matches-container > hr {
  height: 4px;
  color: $gray;
  margin: 0px;
  width: 100%;
  text-align: center;
}

.list-inline {
  margin-top: 0px;
  margin-bottom: 0px;
}

.icon-green {
  color: $brand-color;
}

.no-matches {
  text-align: center;
  padding-top: 25px;
  font-style: italic;
}



