<div class='chat-wrapper'>

   <div class='chat-message padding'>

     <div class='chat-message chat-message-recipient'>
       <img class='chat-image chat-image-default' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />

       <div class='chat-message-wrapper'>
         <div class='chat-message-content'>
           <p>Sushi tonight?</p>
         </div>

         <div class='chat-details'>
           <span class='chat-message-localization font-size-small'>Time</span>
           <span class='chat-message-read-status font-size-small'>- Date</span>
         </div>

       </div>
     </div>


     <div class='chat-message chat-message-sender'>
       <img class='chat-image chat-image-default' src='http://ashwinsaxena.com/favicon.png' />

       <div class='chat-message-wrapper'>
         <div class='chat-message-content'>
           <p>Pizza?</p>
           <p>We had sushi last time!</p>
           <p>For me one Vegetariana! Plus some chili oil on it!</p>
         </div>

         <div class='chat-details'>
           <span class='chat-message-localisation font-size-small'>Time</span>
           <span class='chat-message-read-status font-size-small'>- Date</span>
         </div>

       </div>
     </div>


     <div class='chat-message chat-message-recipient'>
       <img class='chat-image chat-image-default' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />

       <div class='chat-message-wrapper'>
         <div class='chat-message-content'>
           <p>Done. Delivery takes 5 minutes!</p>
         </div>

         <div class='chat-details'>
           <span class='chat-message-localisation font-size-small'>Time</span>
           <span class='chat-message-read-status font-size-small'>- Date</span>
         </div>

       </div>
     </div>


     <div class='chat-message chat-message-sender'>
       <img class='chat-image chat-image-default' src='http://ashwinsaxena.com/favicon.png' />

       <div class='chat-message-wrapper'>
         <div class='chat-message-content'>
           <p>Awesome! See you later! : )</p>
         </div>

         <div class='chat-details'>
           <span class='chat-message-localization font-size-small'>Time</span>
           <span class='chat-message-read-status font-size-small'>- Date</span>
         </div>

       </div>
     </div>


   </div>

 </div>
